body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #eee;
    box-sizing: border-box;
    font-family: inter;
}
header {
    margin: auto;
    position: sticky;
    display: grid;
    align-items: center;
    z-index: 999;
    top: 0px;
    width: 100%;
    max-width: 1728px;
}
.top-header {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1A73E8;
}
.in-th {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1280px;
    padding: 0px 16px; 
}
.th-first {
    font-size: 12px;
    color: #FFFFFF;
    gap: 8px;
}
.th-second {
    font-size: 12px;
    color: #FFFFFF;
    justify-self: end;
    gap: 16px;
}
.main-header {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1728px;
    background-color: #F8F9FA;
}
.in-mh {
    display: grid;
    align-items: center;
    grid-template-columns: auto 0.7fr auto;
    justify-content: start;
    width: 100%;
    max-width: 1280px;
    gap: 16px;
    padding: 8px;
}
.in-mh > .in-mh-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A73E8;
    font-size: 14px;
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    margin-left: 16px;
}
.in-mh-logo span:nth-child(2) {
    display: flex;
    height: 24px;
    width: 80px;
    font-size: 16px;
    margin-left: -8px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #F3F4F6;
    border: 1px solid #0000001A;
    gap: 16px;
    overflow: hidden;
}
.search > input {
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    padding-left: 16px;
    font-size: 14px;
    color: #6B7280;
}
.icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 48px;
    background-color: #1A73E8;
    border: none;
}
.header-action {
    display: flex;
    justify-content: space-eve;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.action-person {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.action-person span {
    justify-self: start;
    align-items: start;
    font-size: 14px;
    color: #111827;
}
.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1728px;
    background-color: #F8F9FA;
    border-top: 1px solid #0000001A;
    border-bottom: 1px solid #0000001A;
}
.in-navbar {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 1280px;
}
.navbar > .in-navbar > ul {
    display: flex;
    gap: 2px;
    justify-content: start;
    width: 100%;
    list-style-type: none;
}
.in-navbar > ul > li {
    display: flex;
    align-items: center;
    font-size: 13x;
    color: #6B7280;
}
/* Main */

main {
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 32px 16px;
    gap: 16px;
}
main > span {
    display: flex;
    grid-column: span 3;
    font-size: 20px;
    color: #111827;
}
.charts {
    grid-column: span 2;
}
.charts-choice > img {
    grid-row: span auto;
    max-width: 821.33px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #F3F4F6;
}
.charts-choice {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #FFFFFF;
    border: 1px solid #0000001A;
    border-radius: 16px;
    gap: 16px;
    padding: 20px;
}
.chart-edit-choice {
    display: grid;
    grid-template-columns: auto 1fr;
}
.chart-edit-choice > button {
    justify-self: end;
    padding: 2px;
    border: none;
    background-color: transparent;
}
.charts-choice-color {
    grid-column: span 2;
}
.button-edit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
    border: 1px solid #0000001A;
    border-radius: 8px;
}
.charts-choice-price {
    justify-self: end;
}
.button-edit > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    background-color: transparent;
    border: none;
}
.chart-whitelist {
    display: flex;
    grid-column: span 2;
    align-self: center;
    gap: 4px;
}
.chart-whitelist > img {
    justify-self: center;
    align-self: center;
}
.chart-whitelist > span {
    font-size: 12px;
    color: #6B7280;
} 
.code-promo {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid #0000001A;
    padding: 20px;
    gap: 8px;
}
.code-promo-head {
    display: flex;
    font-size: 18px;
    color: #111827;
    gap: 8px;
}
.code-promo > span {
    font-size: 18px;
    color: #111827;
}
.code-promo-input {
    display: grid;
    grid-template-columns: 1fr auto; 
    padding-top: 4px;
    gap: 8px;
    width: 100%;
}
.code-promo-input > input {
    border-radius: 12px;
    padding: 11.5px 16px;
    color: #11182780;
    background-color: #F3F4F6;
    border: 1px solid #0000001A;
    font-size: 14px;
}
.code-promo-input > button {
    background-color: #1A73E8;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    padding: 11px 20px;
}
.code-promo > span:nth-child(3) {
    font-size: 12px;
    color: #6B7280;
}
.chart-description {
    border: 1px solid #0000001A;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 20px;
    background-color: #FFFFFF;
}
.chart-description > span:nth-child(1) {
    grid-column: span 2;
    font-size: 18px;
    color: #111827;
}
.chart-description > span:nth-child(2) {
    color: #111827;
    font-size: 14px;
    color: #6B7280;
}
.chart-description > span:nth-child(3) {
    justify-self: end;
    font-size: 18px;
    color: #111827;
    font-size: 14px;
    color: #6B7280;
}
.chart-description > span:nth-child(4) {
    color: #111827;
    font-size: 14px;
    color: #6B7280;
}
.chart-description > span:nth-child(5) {
    justify-self: end;
    font-size: 18px;
    color: #111827;
    font-size: 14px;
    color: #00A63E;
}
.chart-description > span:nth-child(6) {
    color: #111827;
    font-size: 14px;
    color: #111827;
}
.chart-description > span:nth-child(7) {
    color: #111827;
    justify-self: end;
    font-size: 14px;
    font-weight: bold;
    color: #1A73E8;
}
.chart-description-guranted {
    grid-column: span 2;
    display: flex;
    gap: 4px;
    flex-direction: column;
    color: #111827;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #6B7280;
}
.chart-description > button {
    grid-column: span 2;
    display: flex;
    background-color: #F97316;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 0px;
    border-radius: 12px;
    border: none;
}
.chart-description > button > span {
    font-size: 16px;
    color: #FFFFFF;
    align-items: center
}
.cards {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-column: span 3;
    display: flex;
    
}
.card {
    position: relative;
    display: flex;
    width: 100%;
    gap: 4px;
    flex-direction: column;
    border-radius: 16px;
    color: #FFFFFF;
    border: 1px solid #0000001A;
    overflow: hidden;
}
.card > img {
    display: block;
    object-fit: cover;
}
.card-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
}
.card-details > .category {
    color: #6B7280;
    font-size: 12px;
}
.card-details > .name {
    font-size: 14px;
    color: #111827;
}
.rating {
    display: flex;
    justify-content: start;
    gap: 4px;
    align-items: center;
}
.rating-star {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.rating > span {
    font-size: 14px;
    color: #6B7280;
}
.price {
    display: flex;
    gap: 8px;
    padding-top: 4px;
}
.price > span:nth-child(1) {
    color: #1A73E8;
    font-size: 16px;
}
.price > span:nth-child(2) {
    text-decoration: line-through;
    color: #6B7280;
    font-size: 16px;
}

/* Footer  */

/* Footer */
footer {
    margin: auto;
    align-items: center;
    justify-content: end;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    width: 100%;
    max-width: 1728px;
    background-color: #111827;
}
.space-footer {
    height: 64px;
    width: 1728px;
    background-color: #FFFFFF;
}
.top-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    gap: 24px;
}
.tf-box {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 12px;
}
.tf-box-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16777200px;
    background-color: #1A73E833;
}
.tf-box-description {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #FFFFFF;
}
.tf-box-description span:nth-child(2) {
    font-size: 12px;
    color: #99A1AF;
}
.middle-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    border-top: 1px solid #364153;
    border-bottom: 1px solid #364153;
}
.in-mv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    padding: 32px 8px;
    gap: 32px;
}
.mf-box {
    display: flex;
    flex-direction: column;
    gap: 16px;;
}
.mf-box-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.logo-mf {
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #1A73E8;
}
.mf-logo-span {
    color: #FFFFFF;
    font-size: 18px;
}
.mf-box-span {
    color: #99A1AF;
    font-size: 14px;
}
.mf-box-socials {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
}
.mf-box-social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #364153;
    border-radius: 16777200px;
    width: 32px;
    height: 32px;
}
.mf-box-header {
    height: 24px;
    width: 288px;
    font-size: 16px;
    color: #FFFFFF;
}
.mf-box-sub {
    height: 24px;
    width: 288px;
    font-size: 14px;
    color: #99A1AF;
}
.mf-box-contacts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}
.mf-box-contact {
    display: flex;
    gap: 8px;
}
.mf-box-contact img {
    height: 15px;
    width: 15px;
}
.mf-box-contact span {
    font-size: 14px;
    color: #99A1AF;
}
.contact-complain {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #1E2939;
    gap: 8px;
    padding: 12px;
    border-radius: 8px;
}
.newslatter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newslatter> input {
    display: flex;
    padding: 8px 12px;
    background-color: #364153;
    border: 1px solid #4A5565;
    border-radius: 6px;
}
.newslatter > button {
    background-color: #1A73E8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    padding: 8.75px 12px;
}
.bottom-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    color: #6A7282;
    font-size: 12px;
    padding: 16px;
}
.bf-box {
    display: flex;
    gap: 16px;
}
/* Footer End */




@media (max-width: 768px) {
    .top-header {
        display: none;
        order: 2;
        border-radius: 6px;
    }
    .main-header {
        order: 1;
    }
    .navbar {
        display: none;
        order: 3;
        border-radius: 18px;
    }
    .in-th {
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 2px 0px;
        gap: 4px;
    }
    .in-th > div {
        justify-self: center;
    }
    .in-mh {
        align-self: center;
        grid-template-columns: 1fr 1fr;
    }
    .in-mh > .in-mh-logo {
        order: 1;
        justify-self: start;
    }
    .in-mh > .search {
        order: 3;
        grid-column: span 2;
    }
    .in-mh > .header-action {
        justify-self: center;
        order: 2;
    }
    .navbar > .in-navbar > ul {
        display: none;
        flex-direction: column;
        /* gap: 4px; */
    }
    .in-naavbar > ul > li {
        padding-left: 1px;
        max-width: fit-content;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
    }
    main > span,
    .cards,
    .chart-description {
        grid-column: span 2;
    }

    .charts {
        grid-column: span 2;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .top-footer {
        flex-direction: column;
        /* order: 2; */
        /* display: grid; */
        /* grid-template-columns: repeat(2, 1fr); */

        align-items: center;
        width: 100%;
        max-width: 1280px;
        gap: 24px;
    }
    .tf-box {
        flex-direction: column;
        text-align: center;
    }
    .in-mv {
        grid-template-columns: 1fr;
    }
    .mf-box {
        border: 1px solid;
    }
    .bottom-footer {
        order: 3;
        flex-direction: column;
        gap: 8px;
    border: 1px solid;
    }
    .bf-box {
        width: 100%;
        justify-content: space-evenly;
    }
}