/* Canvas */
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
.canvas {
    width: auto;
    height: 4349.25px;
    background-color: 
    background-color: #FFFFFF;;
}
.second-canvas {
    background-color: #212124;
    height: 28px;
    margin: auto;
    width: 1280px;
}
/* Canvas End */

/* Top Header */
.top {
    background-color: blue;
    height: 28px;
    margin: auto;
    width: 1728px;
}
.top-header {
    position: relative;
    width: 1280px;
    height: 28px;
    margin: auto;
    background-color: blue;
}
.top-left {
    left: 16px;
    position: absolute;
    display: inline-block;
    width: 156px;
    height: 16px;
    bottom: 7px;
    font-size: 12px;
    color: azure;
}
.top-left img {
    bottom: -2px;
    height: 11px;
    position: relative;
}
.top-right {
    right: 16px;
    position: absolute;
    display: inline-block;
    width: 373px;
    height: 16px;
    bottom: 7px;
    right: 0px;
    font-size: 12px;
    color: azure;
}
.text-top-right {
    text-align: right;
}
/* Top Header End */

/* Main */
.main {
    position: relative;
    top: 420px;
    width: 1280px;
    height: 3303px;
}
.content-first {
    border: 1px solid black;
    height: 420px;
    margin: auto;
    width: 1728px;
    position: relative;
    top: 106px;
    background-image: linear-gradient(#8200DB, #4F39F6);"
}
.content-first-left {
    left: 16px;
    top: 190px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 16777200px;
    background-color: #FFFFFF33;
}
.content-first-left img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}
.content-first-right {
    right: 16px;
    top: 190px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 16777200px;
    background-color: #FFFFFF33;
}
.content-first-right img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}
.content-middle {
    position: absolute;
    left: 836px;
    bottom: 16px;
    height: 8px;
    width: 56px;
}
.slider-middle {
    left: 16px;
    position: absolute;
    height: 8px;
    width: 24px;
    border-radius: 16777200px;
    background-color: #FFFFFF;
}
.slide1 {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 16777200px;
    background-color: #FFFFFF80;
}
.slide2 {
    right: 0px;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 16777200px;
    background-color: #FFFFFF80;
}
.first-left {
    position: absolute;
    display: inline-block;
    height: 420px;
    width: 640px;
    left: 224px;
}
.first-left-first {
    position: absolute;
    left: 16px;
    top: 90.5px;
    width: 475px;
    height: 100px;
    font-style: bold;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}
.first-left-third {
    position: absolute;
    border-radius: 12px;
    left: 16px;
    top: 281.5px;
    width: 163px;
    height: 48px;
    font-size: 16px;
    background-color: #FFFFFF;
}
.first-left-third span {
    position: absolute;
    left: 24px;
    top: 12px;
    width: 91px;
    height: 24px;
    color: #1A73E8;
}
.first-left-third img {
    position: absolute;
    left: 123px;
    top: 16px;
    width: 16px;
    height: 16px;
    color: #1A73E8;
}
.first-left-second {
    position: absolute;
    left: 16px;
    top: 206.5px;
    width: 512px;
    height: 59px;
    font-size: 18px;
    color: #FFFFFFCC;
}
.first-right {
    position: absolute;
    height: 420px;
    width: 640px;
    right: 224px;
}
.sub-content {
    position: absolute;
    height: 30px;
    width: 1280px;
}
.content1-sub {
    position: absolute;
    font-size: 20px;
    left: 16px;
    height: 30px;
    width: 282px;
}
.content1-arrow {
    position: absolute;
    top: 5px;
    right: 16px;
    width: 100px;
    height: 20px;
}
.content1-arrow span {
    font-size: 14px;
    width: 82px;
    height: 20px;
    color: #1A73E8;
}
.content1-arrow img {
    position: absolute;
    right: 0px;
    top: 3px;
    width: 14px;
    height: 14px;
}
.sub-content2 {
    position: relative;
    left: 16px;
    top: 54px;
    width: 1248px;
    height: 138px;
}
.content1-sub1 {
    left: 0px;
    position: absolute;
    display: inline-block;
    border: 1px solid #0000001A;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 198px;
    height: 138px;
}
.content1-sub2 {
    left: 210px;
    position: absolute;
    display: inline-block;
    border: 1px solid #0000001A;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 198px;
    height: 138px;
}
.content1-sub3 {
    left: 420px;
    position: absolute;
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #0000001A;
    border-radius: 12px;
    width: 198px;
    height: 138px;
}
.content1-sub4 {
    left: 630px;
    position: absolute;
    display: inline-block;
    border: 1px solid #0000001A;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 198px;
    height: 138px;
}
.content1-sub5 {
    right: 210px;
    position: absolute;
    display: inline-block;
    border: 1px solid #0000001A;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 198px;
    height: 138px;
}
.content1-sub6 {
    right: 0px;
    position: absolute;
    display: inline-block;
    border: 1px solid #0000001A;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 198px;
    height: 138px;
}
.picture {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 16px;
    left: 70px;
}
.picture img {
    border-radius: 12px;
}
.name-sub1 {
    position: absolute;
    width: 94px;
    height: 16px;
    top: 80px;
    left: 51px;
    font-size: 12px;
    text-align: center;
}
.name-sub2 {
    position: absolute;
    width: 94px;
    height: 16px;
    top: 80px;
    left: 51px;
    font-size: 12px;
    text-align: center;
}
.name-sub3 {
    position: absolute;
    width: 94px;
    height: 16px;
    top: 80px;
    left: 51px;
    font-size: 12px;
    text-align: center;
}
.name-sub4 {
    position: absolute;
    width: 94px;
    height: 16px;
    top: 80px;
    left: 51px;
    font-size: 12px;
    text-align: center;
}
.name-sub5 {
    position: absolute;
    width: 94px;
    height: 16px;
    top: 80px;
    left: 51px;
    font-size: 12px;
    text-align: center;
}
.name-sub6 {
    position: absolute;
    width: 100px;
    height: 16px;
    top: 80px;
    left: 51px;
    font-size: 12px;
    text-align: center;
}
.stock {
    position: absolute;
    left: 72.5px;
    bottom: 16px;
    width: 52px;
    height: 16px;
}
.stock span {
    position: absolute;
    font-size: 12px;
    color: #6B7280;
}
.content1 {
    position: absolute;
    top: 48px;
    width: 1280px;
    max-width: 1280px;
    height: 192px;
}
.content2 {
    position: absolute;
    top: 288px;
    width: 1280px;
    max-width: 1280px;
    height: 475.25px;
}
.content2-sub {
    position: absolute;
    height: 32px;
    width: 1280px;
}
.content2-arrow {
    position: absolute;
    top: 5px;
    right: 16px;
    width: 100px;
    height: 20px;
}
.content2-arrow span {
    font-size: 14px;
    width: 82px;
    height: 20px;
    color: #1A73E8;
}
.content2-arrow img {
    position: absolute;
    right: 0px;
    top: 3px;
    width: 14px;
    height: 14px;
}
.content2-sub1 {
    left: 16px;
    position: absolute;
    width: 366.99px;
    height: 32px;
}
.content2-flash {
    position: absolute;
    border-radius: 8px;
    width: 117px;
    height: 32px;
    background-color: #DC2626;
}
.content2-flash img {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 12px;
    top: 8px;
}
.content2-flash span {
    font-size: 14px;
    width: 69px;
    height: 20px;
    position: absolute;
    left: 36px;
    top: 6px;
    color: #FFFFFF;
}

.content2-time {
    left: 129px;
    top: 4px;
    position: absolute;
    width: 238px;
    height: 24px;
}
.content2-time img:nth-child(1) {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
}
.content2-time img:nth-child(2) {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
}
.content2-time-text {
    position: absolute;
    top: 4px;
    left: 18px;
    width: 237.99px;
    height: 24px;
    font-size: 14px;
}
.content2-time-text span:nth-child(1) {
    position: absolute;
    left: 0px;
    width: 103px;
    height: 20px;
}
.content2-time-text span:nth-child(2) {
    position: absolute;
    left: 113px;
    width: 18px;
    height: 20px;
}
.content2-time-text span:nth-child(3) {
    position: absolute;
    left: 141px;
    width: 18px;
    height: 20px;
}
.content2-time-text span:nth-child(4) {
    position: absolute;
    left: 156px;
    width: 18px;
    height: 20px;
}
.content2-time-text span:nth-child(5) {
    position: absolute;
    left: 180.99px;
    width: 18px;
    height: 20px;
}
.content2-time-text span:nth-child(6) {
    position: absolute;
    left: 195.99px;
    width: 18px;
    height: 20px;
}
.content2-sub3 {
    position: absolute;
    left: 16px;
    bottom: 0px;
    height: 419.25px;
    width: 1248px;
}
.badge {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 24px;
    width: 45px;
    background-color: red;
    border-radius: 16777200px;
    z-index: 99;
}
.badge span {
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    top: 4px;
    left: 8px;
}
.baru {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 24px;
    width: 45px;
    background-color: #1A73E8;
    border-radius: 16777200px;
    z-index: 99;
}
.baru span {
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    top: 4px;
    left: 8px;
}
.content2-image {
    position: absolute;
    display: inline-block;
    height: 298px;
    width: 298px;
}
.content2-image img {
    border-radius: 12px 12px 0px 0px;
}
.content2-description {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    height: 120px;
    width: 298px;
}
.content2-description-category {
    position: absolute;
    top: 12px;
    left: 12px;
    height: 16px;
    width: 274px;;
    font-size: 12px;
    color: #6B7280;
}
.content2-description-name {
    position: absolute;
    top: 32px;
    left: 12px;
    height: 20px;
    width: 274px;
    font-size: 14px;
    color: #111827;
}
.content2-description-rate {
    position: absolute;
    top: 56px;
    left: 12px;
    height: 20px;
    width: 274px;
}
.content2-description-rate img {
    position: absolute;
    top: 4px;
    left: 0px;
    width: 60px;
    height: 12px;
}
.content2-description-rate span {
    color: #6B7280;
    top: 1px;
    font-size: 13px;
    position: absolute;
    left: 64px;
    width: 59px;
    height: 20px;
}
.content2-description-price {
    position: absolute;
    top: 80px;
    left: 12px;
    height: 28px;
    width: 274px;
}
.content2-description-price span:nth-child(1) {
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 4px;
    width: 107px;
    height: 24px;
    font-size: 15px;
    font-weight: bold;
    color: #1A73E8;
}
.content2-description-price span:nth-child(2) {
    position: absolute;
    display: inline-block;
    left: 115px;
    top: 8px;
    width: 77px;
    height: 16px;
    font-size: 11px;
    text-decoration: line-through 1px;
    font-weight: bold;
    color: #6B7280;
}
.content2-section1 {
    position: absolute;
    display: inline-block;
    height: 420px;
    width: 300px;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 1px solid #0000001A;
}
.content2-section2 {
    position: absolute;
    left: 316px;
    display: inline-block;
    height: 420px;
    width: 300px;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 1px solid #0000001A;
}
.content2-section3 {
    position: absolute;
    right: 316px;
    display: inline-block;
    height: 420px;
    width: 300px;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 1px solid #0000001A;
}
.content2-section4 {
    position: absolute;
    right: 0px;
    padding-right: 0px;
    display: inline-block;
    height: 420px;
    width: 300px;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 1px solid #0000001A;
}
.content3 {
    position: absolute;
    left: 16px;
    top: 811.25px;
    width: 1248px;
    max-width: 1280px;
    height: 176px;
}
.content3-sub{
    position: absolute;
    display: inline-block;
    left: 0px;
    height: 176px;
    width: 616px;
    border-radius: 16px;
}
.content3-sub img {
    border-radius: 16px;
}
.content3-sub1{
    position: absolute;
    display: inline-block;
    left: 632px;
    height: 176px;
    width: 616px;
    border-radius: 16px;
}
.content3-sub1 img {
    border-radius: 16px;
}
.content4 {
    position: absolute;
    top: 1035.25px;
    width: 1280px;
    max-width: 1280px;
    height: 908.5px;
}
.content4-sub {
    left: 16px;
    position: absolute;
    width: 366.99px;
    height: 32px;
}
.content4-arrow {
    position: absolute;
    border-radius: 8px;
    width: 176px;
    height: 30px;
}
.content4-arrow img {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 8px;
}
.content4-arrow span {
    width: 148px;
    height: 30px;
    position: absolute;
    left: 28px;
    top: 3px;
    color: #111827;
    font-size: 20px;
}
.content4-sub1 {
    position: absolute;
    bottom: 419.25px;
    left: 16px;
    width: 1248px;
    height: 419.25px;
}
.content4-sub2 {
    position: absolute;
    bottom: 0px;
    left: 16px;
    width: 1248px;
    height: 419.25px;
}
.content5 {
    position: absolute;
    top: 1991.75px;
    width: 1280px;
    max-width: 1280px;
    height: 908.5px;
}
.content5-arrow {
    position: absolute;
    border-radius: 8px;
    width: 176px;
    height: 30px;
}
.content5-arrow span {
    width: 165px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 3px;
    color: #111827;
    font-size: 20px;
}
.content6 {
    position: absolute;
    left: 16px;
    top: 2948.25px;
    width: 1248px;
    height: 243px;
    background-color: #FFFFFF;
    border: 1px solid #0000001A;
    border-radius: 16px;
}
.content6-sub {
    width: 266px;
    height: 30px;
    position: absolute;
    top: 32px;
    left: 474px;
}
.content6-sub span {
    width: 300px;
    height: 30px;
    font-size: 19px;
    text-align:center;
}
.content6-sub1 {
    width: 277.5px;
    height: 115px;
    position: absolute;
    bottom: 32px;
    left: 32px;
}
.content6-sub1 span:nth-child(1) {
    position: absolute;
    top: 0px;
    width: 36px;
    height: 40px;
    left: 109px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0px;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.content6-sub1 span:nth-child(2) {
    position: absolute;
    top: 48px;
    width: 87px;
    height: 20px;
    left: 95.25px;
    font-size: 14px;
    text-align: center;
    color: #111827;
}
.content6-sub1 span:nth-child(3) {
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    width: 277.5px;
    height: 39px;
    left: 0px;
    color: #6B7280;
    text-align: center;
}
.content6-sub2 {
    width: 277.5px;
    height: 115px;
    position: absolute;
    bottom: 32px;
    left: 333.5px;
}
.content6-sub2 span:nth-child(1) {
    position: absolute;
    top: 1px;
    width: 36px;
    height: 40px;
    left: 109px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0px;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.content6-sub2 span:nth-child(2) {
    position: absolute;
    top: 48px;
    width: 87px;
    height: 20px;
    left: 95.25px;
    font-size: 14px;
    text-align: center;
    color: #111827;
}
.content6-sub2 span:nth-child(3) {
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    width: 277.5px;
    height: 39px;
    left: 0px;
    color: #6B7280;
    text-align: center;
}
.content6-sub3 {
    width: 277.5px;
    height: 115px;
    position: absolute;
    bottom: 32px;
    right: 333.5px;
}
.content6-sub3 span:nth-child(1) {
    position: absolute;
    top: 1px;
    width: 36px;
    height: 40px;
    left: 109px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0px;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.content6-sub3 span:nth-child(2) {
    position: absolute;
    top: 48px;
    width: 87px;
    height: 20px;
    left: 95.25px;
    font-size: 14px;
    text-align: center;
    color: #111827;
}
.content6-sub3 span:nth-child(3) {
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    width: 277.5px;
    height: 39px;
    left: 0px;
    color: #6B7280;
    text-align: center;
}
.content6-sub4 {
    width: 277.5px;
    height: 115px;
    position: absolute;
    bottom: 32px;
    right: 32px;
}
.content6-sub4 span:nth-child(1) {
    position: absolute;
    top: 0px;
    width: 36px;
    height: 40px;
    left: 111px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0px;
    align-items: center;
    margin: 0px;
    padding: 0px;
    color: #111827;
    border: 0px;
}
.content6-sub4 span:nth-child(2) {
    position: absolute;
    top: 48px;
    width: 87px;
    height: 20px;
    left: 95.25px;
    font-size: 14px;
    text-align: center;
    color: #111827;
}
.content6-sub4 span:nth-child(3) {
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    width: 277.5px;
    height: 39px;
    left: 0px;
    color: #6B7280;
    text-align: center;
}
/* Maind End */

/* Header */
.header {
    position: relative;
    width: 1280px;
    height: 65px;
    margin: auto;
    background-color: azure;
}
/* Header Left */
.header-left {
    top: 16px;
    left: 16px;
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 32px;
}
.header-left-logo {
    border-radius: 8px;
    position: absolute;
    background-color: blue;
    height: 32px;
    width: 32px;
}
.header-left-logo span {
    font-size: 14px;
    color: azure;
    padding-top: 6px;
    padding-left: 11px;
    position: absolute;
    height: 10px;
    width: 20px;
}
.header-left-text {
    font-size: 16px;
    padding-top: 6px;
    padding-left: 40px;
    height: 80px;
    width: 24px;
}
/* Header Left End */

/* Header Center */
.header-center {  
    top: 11px;
    left: 152px; 
    position: absolute;
    display: inline-block;
    width: 576px;
    height: 42px;
    z-index: 999;
}
.header-center input {   
    position: absolute;
    display: inline-block; 
    border-radius: 8px;
    color: #6B7280;
    background-color: #F3F4F6;
    border: 1px solid #0000001A;
    width: 557px;
    height: 39px;
    padding-left: 16px;
}
.header-center-search {
    top: 1px;
    left: 510px; 
    position: relative;
    display: inline-block; 
    border-radius: 0 8px 8px 0;
    background-color: blue;
    border: 1px solid #6B7280;
    width: 48px;
    height: 39px;
    padding-left: 16px;
}
.header-center-search img {
    height: 16px;
    width: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;

}
/* Header Center End */

/* Header Right */
.header-right {
    top: 12px;
    left: 744px;
    position: absolute;
    display: inline-block;
    width: 210px;
    height: 40px;
    font-family: "inter", sans-serif;
}
.header-right-first {
    height: 40px;
    width: 40px;
    position: absolute;
    display: inline-block;
}
.header-right-first img {
    margin-left: 10px;
    margin-top: 10PX;
    height: 20px;
    width: 20px;
}
.header-right-second {
    left: 44px;
    height: 40px;
    width: 78px;
    position: absolute;
    display: inline-block;
}
.header-right-second img {
    margin-left: 10px;
    margin-top: 10PX;
    height: 20px;
    width: 20px;
}
.budi {
    top: 10px;
    left: 44px;
    height: 40px;
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 20px;
    font-size: 14px;
}
.header-right-third {
    left: 126px;
    height: 40px;
    width: 40px;
    position: absolute;
    display: inline-block;
}
.header-right-third img {
    margin-left: 10px;
    margin-top: 10PX;
    height: 20px;
    width: 20px;
}
.header-right-forth {
    left: 170px;
    height: 40px;
    width: 40px;
    position: absolute;
    display: inline-block;
}
.header-right-forth img {
    margin-left: 10px;
    margin-top: 10PX;
    height: 20px;
    width: 20px;
}
/* Header Right End */
/* Header End */
/* Navbar */
.navbar {
    position: relative;
    width: 1280px;
    height: 41px;
    margin: auto;
    border-top: 1px solid #0000001A;
    background-color: #ffff;
    font-size: 0px;
}
.all {
    position: absolute;
    display: inline-block;
    left: 16px;
    height: 40px;
    width: 171px;
    z-index: 444;
}
.grid {
    position: absolute;
    margin-left: 16px;
    bottom: 13px;
    top: 13px;
    height: 14px;
    width: 14px;
}
.grid-text {
    position: absolute;
    top: 10px;
    left: 34px;
    width: 105px;
    height: 20px;
}
.grid-text span {
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
}
.arrow {
    left: 143px;
    top: 14px;
    position: absolute;
    height: 12px;
    width: 12px;
}
.electronic {
    left: 171px;
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 117px;
}
.electronic span {
    position: absolute;
    left: 16px;
    top: 10px;
    font-size: 13px;
    height: 65px;
    width: auto;
}
.fashion {
    left: 288px;
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 104px;
}
.fashion span {
    position: absolute;
    left: 16px;
    top: 10px;
    font-size: 13px;
    height: 65px;
    width: auto;
}
.home {
    left: 392px;
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 155px;
}
.home span {
    position: absolute;
    left: 16px;
    top: 10px;
    font-size: 13px;
    height: 65px;
    width: auto;
}
.beauty {
    left: 547px;
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 125px;
}
.beauty span {
    position: absolute;
    left: 16px;
    top: 10px;
    font-size: 13px;
    height: 65px;
    width: auto;
}
.sport {
    left: 672px;
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 112px;
}
.sport span {
    position: absolute;
    left: 16px;
    top: 10px;
    font-size: 13px;
    height: 65px;
    width: auto;
}
.book {
    left: 784px;
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 162px;
}
.book span {
    position: absolute;
    left: 16px;
    top: 10px;
    font-size: 13px;
    height: 65px;
    width: auto;
}
.promo {
    left: 946px;
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 93px;
}
.promo span {
    position: absolute;
    left: 16px;
    top: 10px;
    font-size: 13px;
    height: 65px;
    width: auto;
    color: #DC2626;
}
/* Navbart End */
/* Footer */
.footer {
    height: 497px;
    margin: auto;
    width: 1728px;
    position: relative;
    top: 3409px;
    font-size: 0px;
}
.footer-first {
    height: 105px;
    background-color: #111827;
}
.footer-first1 {
    width: 294px;
    height: 40px;
    position: absolute;
    top: 32px;
    left: 240px;
}
.footer-first2 {
    width: 294px;
    height: 40px;
    position: absolute;
    top: 32px;
    left: 558px;
}
.footer-first3 {
    width: 294px;
    height: 40px;
    position: absolute;
    top: 32px;
    left: 876px;
}
.footer-first4 {
    width: 294px;
    height: 40px;
    position: absolute;
    top: 32px;
    right: 240px;
}
.icon-text {
    width: 168px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: 52px;
    vertical-align: middle;
}
.icon-text span:nth-child(1) {
    width: 168px;
    height: 20px;
    position: absolute;
    top: 0px;
    font-size: 14px;
    color: #FFFFFF;
}
.icon-text span:nth-child(2) {
    width: 168px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    color: #99A1AF;
}
.icon-bg {
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #1A73E833;
    border-radius: 16777200px;
}
.icon-bg img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 11px;
    left: 11px;
}
.footer-second {
    height: 338px;
    background-color: #111827;
    border-top: 1px solid #364153;
    border-bottom: 1px solid #364153;
}
.footer-second1 {
    height: 242.0500030517578px;
    width: 288px;
    position: absolute;
    top: 153px;
    left: 240px;
}
.footer-second1-span {
    font-size: 14px;
    color: #99A1AF;
    width: 288px;
    height: 69px;
    position: absolute;
    top: 47.3px;
}
.footer-left {
    top: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    width: 288px;
    height: 32px;
}
.footer-left-logo {
    border-radius: 8px;
    position: absolute;
    background-color: #1A73E8;
    height: 32px;
    width: 32px;
}
.footer-left-logo span {
    font-size: 14px;
    color: azure;
    top: 6px;
    left: 11px;
    position: absolute;
    height: 20px;
    width: 10px;
}
.footer-left-text {
    font-size: 18px;
    position: absolute;
    top: 2px;
    left: 40px;
    height: 20px;
    width: 90px;
    color: #FFFFFF;
}
.footer-second1-sub1 {
    height: 32px;
    width: 32px;
    border-radius: 16777200px;
    background-color: #364153;
    position: absolute;
    bottom:77.5px;
    left: 0px;
}
.social {
    height: 14px;
    width: 14px;
    position: absolute;
    top: 9px;
    left: 9px;
}
.footer-second1-sub2 {
    height: 32px;
    width: 32px;
    border-radius: 16777200px;
    background-color: #364153;
    position: absolute;
    bottom:77.5px;
    left: 44px;
}
.footer-second1-sub3 {
    height: 32px;
    width: 32px;
    border-radius: 16777200px;
    background-color: #364153;
    position: absolute;
    bottom:77.5px;
    right: 168px;
}
.footer-second1-sub4 {
    height: 32px;
    width: 32px;
    border-radius: 16777200px;
    background-color: #364153;
    position: absolute;
    bottom:77.5px;
    right: 124px;
}
.footer-second2 {
    height: 242.0500030517578px;
    width: 288px;
    position: absolute;
    top: 153px;
    left: 560px;
}
.footer-second2 span:nth-child(1) {
    width: 288px;
    height: 24px;
    position: absolute;
    font-size: 16px;
    color: #FFFFFF;
}
.footer-second2 span:nth-child(2) {
    width: 288px;
    height: 20px;
    position: absolute;
    top: 36px;
    font-size: 14px;
    color: #99A1AF;
}
.footer-second2 span:nth-child(3) {
    width: 288px;
    height: 20px;
    position: absolute;
    top: 68px;
    font-size: 14px;
    color: #99A1AF;
}
.footer-second2 span:nth-child(4) {
    width: 288px;
    height: 20px;
    position: absolute;
    top: 100px;
    font-size: 14px;
    color: #99A1AF;
}
.footer-second2 span:nth-child(5) {
    width: 288px;
    height: 20px;
    position: absolute;
    top: 132px;
    font-size: 14px;
    color: #99A1AF;
}
.footer-second2 span:nth-child(6) {
    width: 288px;
    height: 20px;
    position: absolute;
    top: 164px;
    font-size: 14px;
    color: #99A1AF;
}
.footer-second3 {
    height: 242.0500030517578px;
    width: 288px;
    position: absolute;
    top: 153px;
    left: 880px;
}
.footer-second3 span:nth-child(1) {
    width: 288px;
    height: 24px;
    position: absolute;
    font-size: 16px;
    color: #FFFFFF;
}
.footer-second3 span:nth-child(2) {
    width: 288px;
    height: 20px;
    position: absolute;
    top: 36px;
    font-size: 14px;
    color: #99A1AF;
}
.footer-second3 span:nth-child(3) {
    width: 288px;
    height: 20px;
    position: absolute;
    top: 68px;
    font-size: 14px;
    color: #99A1AF;
}
.footer-second3 span:nth-child(4) {
    width: 288px;
    height: 20px;
    position: absolute;
    top: 100px;
    font-size: 14px;
    color: #99A1AF;
}
.footer-second3 span:nth-child(5) {
    width: 288px;
    height: 20px;
    position: absolute;
    top: 132px;
    font-size: 14px;
    color: #99A1AF;
}
.footer-second3 span:nth-child(6) {
    width: 288px;
    height: 20px;
    position: absolute;
    top: 164px;
    font-size: 14px;
    color: #99A1AF;
}
.footer-second4 {
    height: 242.0500030517578px;
    width: 288px;
    position: absolute;
    top: 153px;
    right: 240px;
}
.footer-second4 span:nth-child(1) {
    width: 288px;
    height: 24px;
    position: absolute;
    font-size: 16px;
    color: #FFFFFF;
}
.hub {
    height: 40px;
    width: 288px;
    position: absolute;
    top: 40px;
}
.hub img {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0px;
    color: #99A1AF;
}
.hub span {
    position: absolute;
    width: 260px;
    height: 40px;
    font-size: 14px;
    color: #99A1AF;
    left: 23px;
}
.telp {
    height: 40px;
    width: 288px;
    position: absolute;
    top: 92px;
}
.telp img {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0px;
    color: #99A1AF;
}
.telp span {
    position: absolute;
    width: 260px;
    height: 40px;
    font-size: 14px;
    color: #99A1AF;
    left: 23px;
}
.gmail {
    height: 40px;
    width: 288px;
    position: absolute;
    top: 124px;
}
.gmail img {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0px;
    color: #99A1AF;
}
.gmail span {
    position: absolute;
    width: 260px;
    height: 40px;
    font-size: 14px;
    color: #99A1AF;
    left: 23px;
}
.complain {
    position: absolute;
    top: 160px;
    width: 288px;
    height: 82px;
    background-color: #1E2939;
    border-radius: 6px;
    border: 1px solid #4A5565;
}
.complain span {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 264px;
    height: 116px;
    font-size: 12px;
    color: #FFFFFF;
}
.complain input {
    position: absolute;
    left: 12px;
    top: 36px;
    width: 156px;
    height: 34px;
    padding-left: 12px;
    background-color: #4A5565;
    border-radius: 6px;
    border: 1px solid #4A5565;
    font-size: 12px;
    color: #FFFFFF80;
}
.complain button {
    width: 88px;
    height: 34px;
    border-radius: 6px;
    background-color: #1A73E8;
    position: absolute;
    top: 36px;
    right: 12px;
    font-size: 12px;
    color: #FFFFFF;
    border: 0px;
}
.footer-third {
    background-color: #111827;
    height: 50px;
}
.footer-third span:nth-child(1) {
    width: 278px;
    height: 16px;
    position: absolute;
    left: 240px;
    bottom: 16px;
    font-size: 12px;
    color: #6A7282;
}
.footer-third span:nth-child(2) {
    width: 100px;
    height: 16px;
    position: absolute;
    left: 1215px;
    bottom: 16px;
    font-size: 12px;
    color: #6A7282;
}
.footer-third span:nth-child(3) {
    width: 109px;
    height: 16px;
    position: absolute;
    left: 1327px;
    bottom: 16px;
    font-size: 12px;
    color: #6A7282;
}
.footer-third span:nth-child(4) {
    width: 36px;
    height: 16px;
    position: absolute;
    right: 240px;
    bottom: 16px;
    font-size: 12px;
    color: #6A7282;
}
/* Footer End */